body{
    background: #1d0101;
}
/* CABEÇALHO */
ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px 20px;
    margin: 0;
    gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #4F0E0E;
    z-index: 1000;
}

/* Itens */
li {
    position: relative; /* importante pro dropdown */

}


/* LINKS */
li a,
.dropbtn {
    display: block;
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    text-align: center;
    font-family:"Oxanium", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/* Hover */
li a:hover,
.dropdown:hover .dropbtn {
    background: #7E2929;
    border-radius: 6px;
    transition: 0.3s;
}

.tabela_musicas {
    background-color: #7E2929;
    border-collapse: collapse;
    width: 900px;
    margin: 40px auto;
    text-align: center;

    font-family: "Oxanium", sans-serif;
    color:  #f1aaa9;
    font-size: 20px;

    border-radius: 10px;
    overflow: hidden;
}

/* Cabeçalho */
.tabela_musicas th {
    background-color: #4F0E0E;
    padding: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Células */
.tabela_musicas td {
    border-bottom: 1px solid #4F0E0E;
    padding: 10px;

    font-family: "Oxanium", sans-serif;
    color: #f1aaa9;
}

/* Hover */
.tabela_musicas tr:hover {
    background-color: #C3423F;
    transition: 0.3s;
}

.tabela_musicas tr:nth-child(even) {
    background-color: #6b2424;
}

/*Caixa de cadastro*/
.cadbox {
    width: 450px;
    height: 750px;
    background-color: #6EA4BF;
    padding: 70px;
    box-sizing: border-box;
    border-radius: 10%;

    margin: 120px auto; /* centraliza */
}

/*Profile icon*/
.pfpcad {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: -70px;
}

/*Botão de enviar*/
.buttoncad2 {
    font-family: "sora", sans-serif;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: -1;
    margin-top: -200px;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #BF8DAC;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    
}

/*Formulário*/
.formcad {
    margin-left: -51px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 125%;
    height: 100%;
}

.formcad input {
    padding: 15px;
    border: 1px solid #fcfcfc;
    border-radius: 15px;
}

.formcad input:focus {
    border-color:#BF8DAC;
    outline: none;
}

.formcad input::placeholder {
    color: #9e9a9a;
}

